<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Driver Tracking</title>
</head>
<body>
  <h2>Driver – Live Location Sender</h2>
  <div id="status">Not tracking yet</div>
  <button id="startBtn">Start Tracking</button>
    <h2>{{order_id}}</h2>
  <script>
        const orderId = {{ order_id }};
    const socket = new WebSocket(
          `ws://${window.location.host}/ws/track-location/${orderId}/`

    );

    socket.onopen = () => {
      document.getElementById("status").textContent = "Connected. Ready to start tracking.";
    };

    socket.onclose = () => {
      document.getElementById("status").textContent = "Connection closed";
    };

    function startSendingLocation() {
      if (!navigator.geolocation) {
        alert("Geolocation not supported");
        return;
      }

      document.getElementById("status").textContent = "Tracking started...";

      navigator.geolocation.watchPosition(
        pos => {
          const data = {
            lon: pos.coords.longitude,
            lat: pos.coords.latitude
          };
          socket.send(JSON.stringify(data));
        },
        err => console.error("Geolocation error:", err),
        { enableHighAccuracy: true, maximumAge: 0 }
      );
    }

    document.getElementById("startBtn").addEventListener("click", startSendingLocation);
  </script>
</body>
</html>
